{% load staticfiles %}

{% block content %}

    <!DOCTYPE html>
    <html>
    <title>Zman | זמאן</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'blue-anchor-md.png' %}">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4 {
            font-family: "Lato", sans-serif;
        }

        p {
            font-size: 20px;
        }

        .mySlides {
            display: none
        }

        .w3-tag, .fa {
            cursor: pointer
        }

        .w3-tag {
            height: 15px;
            width: 15px;
            padding: 0;
            margin-top: 6px
        }

        body {
            background-color: #E4E4A1;
        }

        .w3-border-brown {
            border-color: saddlebrown !important;
        }

        .w3-sidebar {
            background-color: rgba(121, 85, 72, 0.85);
        }

        .w3-sidebar a {
            color: white;
            font-size: 22px;
        }
    </style>
    <body>

    <!-- Links (sit on top) -->
    {#    <div class="w3-top" id="top-bar" style="z-index: 10;">#}
    {#        <div class="w3-row w3-large w3-brown">#}
    {#            <div class="w3-col s3">#}
    {#                <a href="#" class="w3-button w3-block">Inicio</a>#}
    {#            </div>#}
    {#            <div class="w3-col s3">#}
    {#                <a href="#plans" class="w3-button w3-block">¿Qué hacemos?</a>#}
    {#            </div>#}
    {#            <div class="w3-col s3">#}
    {#                <a href="#about" class="w3-button w3-block">¿Quiénes somos?</a>#}
    {#            </div>#}
    {#            <div class="w3-col s3">#}
    {#                <a href="#contact" class="w3-button w3-block">Contacto</a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide"><b>ZMAN זמאן</b></h3>
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="#" class="w3-bar-item w3-button">Inicio</a>
            <a href="#plans" class="w3-bar-item w3-button">¿Qué hacemos?</a>
            <a href="#about" class="w3-bar-item w3-button">¿Quiénes somos?</a>
            <a href="#" class="w3-bar-item w3-button">Links asociados</a>
            <a href="#" class="w3-bar-item w3-button">Artículos de interés</a>
            <a href="#contact" class="w3-bar-item w3-button">Contacto</a>
        </div>
        <a href="#contact" class="w3-bar-item w3-button w3-padding">Contact</a>
    </nav>


    <!-- Content -->
    <div class="w3-main" style="margin-bottom: 30px;margin-left: 250px;min-height: 2150px;">

        <div class="w3-panel w3-row" style="margin-left:30px; margin-right:30px;">
            <div class="w3-col l11 m10 s9"><h1 style="font-size: 40px;"><b>ZMAN</b></h1></div>
            <div class="w3-col l1 m2 s3"><h1 style="font-size: 40px;"><b>זמאן</b></h1></div>
        </div>

        <div class="w3-twothird w3-container" style="background-color: #E4E4A1;">
            <!-- Grid -->
            <div class="w3-row w3-container" id="plans">
                <div class="w3-center w3-padding-32">
                    <span class="w3-xxlarge w3-bottombar w3-border-brown w3-padding-16">¿Qué hacemos?</span>
                </div>
                <div class="w3-padding-32">
                    <p>En ZMAN le ofrecemos la información necesaria para ayudarlo a encontrar profesionales de la
                        salud y educación de primer nivel, con experiencia laboral en el ámbito religioso.
                        Psicólogos, psiquiatras, psicopedagogos, neurólogos, integradores y maestras particulares
                        forman parte de ZMAN.
                        Hay profesionales especializados en niños, adolescentes y adultos (para ambos sexos).
                        Contamos con profesionales especializados para casos de niños con capacidades diferentes
                        (estimuladores, kinesiologos, etc)
                    </p>
                </div>
            </div>

            <!-- Grid -->
            <div class="w3-row w3-container" id="about">
                <div class="w3-center w3-padding-32">
                    <span class="w3-xxlarge w3-bottombar w3-border-brown w3-padding-16">¿Quiénes somos?</span>
                </div>
                <div class="w3-padding-32">
                    <h2>DIRECTOR GENERAL ZMAN</h2>
                    <h3>Lic. Leonardo Epsztein:</h3>
                    <p>
                        Egresado de la U.B.A. en el año 2003, con especializaciones en
                        Psicología Educacional, Psicología Cognitivo/Conductual, Psicología del Deporte, Psicología
                        Laboral, entre otras áreas.
                        Actualmente desempeña su labor en el colegio secundario R. Iosef Caro, es el director del área
                        de RRHH de Caesar Systems/Palantir Solutions y trabaja en el consultorio en el barrio de
                        Once.
                        También participó en los programas de admisión de Jabad (Isej) y Sucath David (Fellowship).
                        El Lic. Leonardo Epsztein ha creado la técnica terapéutica que vincula al ping pong en los
                        tratamientos con niños y adolescentes, obteniendo muy buenos resultados.
                    </p>
                </div>
            </div>

            <!-- Grid -->
            <div class="w3-row w3-container" id="about">
                <div class="w3-center w3-padding-32">
                    <span class="w3-xxlarge w3-bottombar w3-border-brown w3-padding-16">Próximos pasos</span>
                </div>
                <div class="w3-padding-32">
                    <p>
                        Enviar un mail a <a href="mailto:director@zman.com?Subject=Zman:%20Busco%20un%20profesional">director@zman.com</a>​,
                        o completar el formulario siguiente, contando que tipo de profesional está buscando.<br>
                        Otra opción es enviar sms o whatsapp al 1554102244 (no llamados, ya que está atendiendo) y se le
                        enviará a la brevedad el contacto de uno o más profesionales que se comunicarán con ud.<br>
                        ZMAN y la dirección no son responsables de los resultados obtenidos en los tratamientos
                    </p>
                </div>
            </div>

            <!-- Contact -->
            <div class="w3-center w3-padding-32" id="contact">
                <span class="w3-xxlarge w3-bottombar w3-border-brown w3-padding-16">Contacto</span>
            </div>

            <form class="w3-container" action="/action_page.php" target="_blank">
                <div class="w3-section">
                    <label>Nombre</label>
                    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name"
                           required>
                </div>
                <div class="w3-section">
                    <label>Email</label>
                    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email"
                           required>
                </div>
                <div class="w3-section">
                    <label>Asunto</label>
                    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject"
                           value="Zman: Busco un profesional!" required>
                </div>
                <div class="w3-section">
                    <label>Mensaje</label>
                    <textarea w3-textarea w3-border w3-hover-border-blackname style="width:100%; height:170px"
                              name="Message" rows="20" cols="80" required></textarea>
                </div>
                <button type="submit" class="w3-button w3-block w3-black">Enviar</button>
            </form>
        </div>

        <div class="w3-third w3-container" style="background-color: #E4E4A1;">
            <p class="w3-border w3-padding-large w3-padding-64 w3-center">A<br><br>N<br><br>U<br><br>N<br><br>C<br><br>I<br>O
            </p>
            <p class="w3-border w3-padding-large w3-padding-64 w3-center">A<br><br>N<br><br>U<br><br>N<br><br>C<br><br>I<br>O
            </p>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-brown w3-center">
        <h4>ZMAN</h4>
        <p> Es tiempo de estar mejor </p>
        <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Inicio</a>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
                         class="w3-hover-text-green">w3.css</a></p>
    </footer>

    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            var element = document.getElementById("top-bar");
            element.remove();
        }
    </script>

    </body>
    </html>

{% endblock %}
